# App Configuration
SECRET_KEY=your-super-secret-key
JWT_SECRET_KEY=your-jwt-secret-key
FLASK_CONFIG=dev

# Database
# Use sqlite:///app.db for local development
# Use postgresql://user:pass@host:port/db for production
DATABASE_URL=sqlite:///app.db
